<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="main.css" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	<ul><a  class="marge" href="/afficherMedicaments">Liste des medicaments</a> 

<a class="marge"   href="/afficherIndications">Liste des indications</a> 

<a class="marge"  href="/traitements">Liste des traitements</a>
<br />
<br/>
<a class="marge"  href="/medicaments/inscription">Ajouter un medicament</a>
<a  class="marge" href="/indications/ajouter">Ajouter une indication</a>
<a  class="marge" href="/ajouterTraitement">Ajouter un traitement</a></ul>
{% block body %}{% endblock %}
<p class="menu">

</p>
{% block test %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
