{% extends 'base.html.twig' %}

{% block title %} Medicament{%endblock %}

{% block body %}

{% endblock %}
{% block test %}
<p>Nb medicaments : {{medicaments|length}} </p>
<ul>
	{%for unMedoc in medicaments%}
			<li>{{unMedoc.libelle}} - {{unMedoc.id}}
			</li>
	{%else%}
	Pas de medicaements trouvé
	{%endfor%}
</ul>
{% endblock %}