{% extends 'base.html.twig' %}

{% block title %}Medicament{%endblock %}

{% block body %}

{% endblock %}
{% block test %}

<ul>
{%for uneIndic in indications%}
			<li>{{uneIndic.posologie}} - {{uneIndic.id}} <a href="{{path('modifIndication',{id:uneIndic.id})}}">modifier</a> 
			<a href="{{path('supprimerIndication',{id:uneIndic.id})}}">supprimer</a></li>
	{%else%}
	Pas de medicament trouvé
	{%endfor%}
</ul>

{% endblock %}

