{% extends 'base.html.twig' %}

{% block title %}medicament{%endblock %}

{% block test %}

<p> Veuillez remplir les champs ci dessous :  </p>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

{% endblock %}