{% extends 'base.html.twig' %}

{% block title %}Medicament{%endblock %}

{% block body %}

{% endblock %}
{% block test %}

<ul>
{%for unMedoc in medicaments%}
			<li>{{unMedoc.libelle}} - {{unMedoc.id}} <a href="{{path('modifIndication',{id:unMedoc.id})}}">modifier</a>   <a href="{{path('supprimerMedicament',{id:unMedoc.id})}}">supprimer</a></li> 
	{%else%}
	Pas de medicament trouvé
	{%endfor%}
</ul>

{% endblock %}

