{% extends 'base.html.twig' %}

{% block title %}Medicament{%endblock %}

{% block body %}

{% endblock %}
{% block test %}

<ul>
<p><strong> Numero du medicament -  Nom du medicament </strong></p>
{%for unMedoc in medicaments%}
			
			<li>{{unMedoc.id}} - {{unMedoc.libelle}}  <a href="{{path('modifIndication',{id:unMedoc.id})}}">modifier</a>   <a href="{{path('supprimerMedicament',{id:unMedoc.id})}}">supprimer</a></li> 
	{%else%}
	Pas de medicament trouvé
	{%endfor%}
</ul>

{% endblock %}

